#gallery {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row-reverse;
}

.image {
  width: 250px;
  height: 250px;
  background-color: lightblue;
  border: 1px solid white;

  flex: 33%;
  object-fit: cover; /* this will alter the behaviour of images that will be stretched out by default in the flex */
}

.large {
  flex: 66%;
  object-fit: cover;
}

.first {

}

.last {

}
